<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <events role:require="Standalone or ContentManagement">
      <event name="item:saved">
        <handler type="Alyas.Feature.CloudinaryConnect.Events.CloudinaryItemSavedHandler, Alyas.Feature.CloudinaryConnect" method="OnItemSaved"/>
      </event>
      <event name="item:deleting">
        <handler type="Alyas.Feature.CloudinaryConnect.Events.CloudinaryItemDeletingHandler, Alyas.Feature.CloudinaryConnect" method="OnItemDeleting"/>
      </event>
    </events>
    <mediaLibrary>
      <mediaProvider>
        <patch:attribute name="type">Alyas.Feature.CloudinaryConnect.Resources.Media.CloudinaryMediaProvider, Alyas.Feature.CloudinaryConnect</patch:attribute>
      </mediaProvider>
    </mediaLibrary>
    <settings>
      <setting name="Alyas.Connect.Cloudinary.BaseUrl" value="https://res.cloudinary.com"/>
      <setting name="Alyas.Connect.Cloudinary.Cloud" value="[Your Cloudinary Cloud Name]"/>
      <setting name="Alyas.Connect.Cloudinary.ApiKey" value="[Your Cloudinary Api Key]"/>
      <setting name="Alyas.Connect.Cloudinary.ApiSecret" value="[Your Cloudinary Api Secret]"/>
      <setting name="Alyas.Connect.Cloudinary.IsResponsive" value="true"/>
      <setting name="Alyas.Connect.Cloudinary.FormatAuto" value="true"/>
      <setting name="Alyas.Connect.Cloudinary.QualityAuto" value="true"/>
    </settings>
  </sitecore>
</configuration>